*{
	margin: 0;
	padding: 0;
}

#map{
	width: 100%;
	margin: 0;
	padding: 0;
	height: 100vh;
}

button{
	margin: 15px auto;
	padding: 10px 15px;
	color: white;
	background-color: #faae27;
	border: 0;
	font-weight: 700;
	border-radius: 2px;
	font-family: "Raleway";
	font-size: 15px;
	display: block;
}

button:hover,button:focus{
	outline: 0;
}

      #origen,
      #destino {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 200px;
      }

      #origen:focus,
      #destino:focus {
        border-color: #4d90fe;
      }
